@import 'reset';
@import 'spacing';
@import 'colors';

body {
	line-height: 1.25;
  font-family: 'PingFang TC', 'Semibold';
  color: $primary;
}
h1{
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3, h4, h5, h6 {
  font-size: 20px;
}
a {
  text-decoration: none;
}
button{
	cursor: pointer;
}
img {
	display: block;
	cursor: pointer;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.fw-300 {
  font-weight: 300;
}
.fw-600 {
  font-weight: 600;
}
.fw-bold {
  font-weight: bold;
}
.pos-a {
  position: absolute;
}
.pos-r {
  position: relative;
}
.fz-l {
  font-size: 1.5rem;
}
.img-fluid {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 42px;
}

.logo {
  width: 220px;
  height: 40px;
  .logoImg {
    background: url('../images/logo-all-dark.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.productMenu {
  width: 300px;
  text-align: center;
  font-size: 1.5rem;
  .productMenuLink {
    border: 1px solid #EAF0ED;
    &.active{
      background: $secondary;
    }
  }
}

.card {
  width: calc(100% - 300px - 1.25rem);
  margin-bottom: 10px;
  .cardImagesText {
    top: 0;
    left: 20px;
    writing-mode: vertical-rl;
    letter-spacing: 3px;
    padding: 10px;
  }
  .cardImagesIcon {
    top: 20px;
    right: 22px;
    width: 20px;
    height: 20px;
    background: url('../images/favorite_border.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.pagination {
  font-size: 20px;
  .paginationItem {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    .paginationItemLink {
      display: block;
      color: $primary;
    }
    &.active {
      background: $primary;
      .paginationItemLink {
        color: $white;
      }
    }
    .leftIcon {
      width: 24px;
      height: 24px;
      background: url('../images/arrow_left.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .rightIcon {
      width: 24px;
      height: 24px;
      background: url('../images/arrow_right.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

.subscription{
  height: 116px;
  .subscriptionIcon {
      width: 40px;
      height: 40px;
      background: url('../images/logo-light.svg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  }
  .form {
    width: 380px;
    height: 56px;
    .formIcon {
      top: 16px;
      left: 20px;
      width: 24px;
      height: 24px;
      background: url('../images/mail-24px.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .formInput {
      padding-left: 64px;
      outline: none;
      background: $secondary;
    }
    .subscriptionBtn{
      outline: none;
      top: 0;
      right: 0;
      width: 64px;
      height: 56px;
      background: #FFE180;
      border: #FFE180 1px solid;
    }
    .subscriptionBtnIcon{
      width: 24px;
      height: 24px;
      background: url('../images/arrow_forward-24px.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      display: block;
      margin: auto;
    }
  }
}

.footer {
  height: 340px;
  .footerLogo {
      width: 171px;
      height: 27px;
      background: url('../images/logotype-lg-dark.svg');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  }
  .footerIcons {
    height: 32px;
    .footerIconItem {
      width: 32px;
      height: 32px;
      margin-right: 8px;
    }
  }
  .lineIcon {
    width: 100%;
    height: 100%;
    display: block;
    background: url('../images/ic-line@.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .facebookIcon {
    width: 100%;
    height: 100%;
    display: block;
    background: url('../images/ic-facebook.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .footerText{
    width: 60px;
    writing-mode: vertical-rl;
    margin-left: auto;
  }
  .line {
    height: 44px;
    width: 1px;
    background: $primary;
    display: inline-block;
  }
  .lineBreakText{
    padding-top: 12px;
  }
}
