.logo {
  .logoImg {
    width: 220px;
    height: 40px;
    background: url('../images/logo-all-dark.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.menu {
  .menuItem {
    transition: .3s;
    &:hover {
      background: $secondary;
    }
  }
}